@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefcf7;
  --foreground: #1a4a1a;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
